Repository blitzy-public-samples/markdown-testing-2-sw8tf6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @architects, @frontend-team, @security-team, @devops-team, @k8s-admins, @infrastructure-admins, @qa-team, @dba-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/server.ts
  src/backend/src/project-service/server.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/config/project.config.ts
  src/backend/src/project-service/config/project.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/controllers/project.controller.ts
  src/backend/src/project-service/controllers/project.controller.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/interfaces/project.interface.ts
  src/backend/src/project-service/interfaces/project.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/models/project.model.ts
  src/backend/src/project-service/models/project.model.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/repositories/project.repository.ts
  src/backend/src/project-service/repositories/project.repository.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/routes/project.routes.ts
  src/backend/src/project-service/routes/project.routes.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/services/project.service.ts
  src/backend/src/project-service/services/project.service.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/project-service/tests/project.test.ts
  src/backend/src/project-service/tests/project.test.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/server.ts
  src/backend/src/task-service/server.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/config/task.config.ts
  src/backend/src/task-service/config/task.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/controllers/comment.controller.ts
  src/backend/src/task-service/controllers/comment.controller.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/controllers/task.controller.ts
  src/backend/src/task-service/controllers/task.controller.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/interfaces/comment.interface.ts
  src/backend/src/task-service/interfaces/comment.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/interfaces/task.interface.ts
  src/backend/src/task-service/interfaces/task.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/models/comment.model.ts
  src/backend/src/task-service/models/comment.model.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/models/task.model.ts
  src/backend/src/task-service/models/task.model.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/repositories/comment.repository.ts
  src/backend/src/task-service/repositories/comment.repository.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/repositories/task.repository.ts
  src/backend/src/task-service/repositories/task.repository.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/routes/comment.routes.ts
  src/backend/src/task-service/routes/comment.routes.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/routes/task.routes.ts
  src/backend/src/task-service/routes/task.routes.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/services/comment.service.ts
  src/backend/src/task-service/services/comment.service.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/services/task.service.ts
  src/backend/src/task-service/services/task.service.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/tests/comment.test.ts
  src/backend/src/task-service/tests/comment.test.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/task-service/tests/task.test.ts
  src/backend/src/task-service/tests/task.test.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/types/environment.d.ts
  src/backend/src/types/environment.d.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/types/express.d.ts
  src/backend/src/types/express.d.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/types/global.d.ts
  src/backend/src/types/global.d.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/.env.example
  src/web/.env.example
Owners: @devops-team, @security-team

Add public-samples/markdown-testing-2-sw8tf6/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/package.json
  src/web/package.json
Owners: @security-team, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team, @architects

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the system
# Format: pattern    @owner1 @owner2

# Default owners for any file not matched below
*    @project-leads

# Backend service ownership
src/backend/    @backend-team @architects

# Frontend application ownership
src/web/    @frontend-team @architects

# Authentication service - requires security team review
src/backend/src/auth-service/    @security-team @backend-team

# Interface definitions - architect review required
src/backend/src/*/interfaces/    @architects

# Infrastructure code ownership
infrastructure/    @devops-team @architects

# Kubernetes configuration files
infrastructure/kubernetes/    @k8s-admins @devops-team

# Terraform configuration files
infrastructure/terraform/    @infrastructure-admins @devops-team

# CI/CD workflow files
.github/workflows/    @devops-team

# Test files ownership
src/*/tests/    @qa-team

# Documentation files
docs/    @project-leads @architects

# Security-critical paths require security team review
src/backend/src/*/security/    @security-team
src/backend/src/*/auth/    @security-team
src/backend/src/*/encryption/    @security-team

# Database schema changes require architect and DBA review
src/backend/src/*/db/migrations/    @architects @dba-team

# API specifications require architect review
src/backend/src/*/api/    @architects @backend-team

# Shared utilities and core libraries
src/shared/    @architects @backend-team

# Configuration files
*.config.js    @devops-team
*.config.ts    @devops-team
*.yaml    @devops-team
*.yml    @devops-team

# Package dependencies
package.json    @security-team @devops-team
package-lock.json    @security-team @devops-team
yarn.lock    @security-team @devops-team

# Environment configurations
.env.example    @devops-team @security-team
src/*/config/    @devops-team @security-team

# Performance-critical components
src/backend/src/*/performance/    @architects @backend-team
src/web/src/components/performance/    @architects @frontend-team

# Monitoring and observability
src/backend/src/*/monitoring/    @devops-team
infrastructure/monitoring/    @devops-team

# Security policies and configurations
security/    @security-team
.github/security/    @security-team
