Repository blitzy-public-samples/markdown-testing-2-sw8tf6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @architects, @frontend-team, @security-team, @devops-team, @k8s-admins, @infrastructure-admins, @qa-team, @dba-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the system
# Format: pattern    @owner1 @owner2

# Default owners for any file not matched below
*    @project-leads

# Backend service ownership
src/backend/    @backend-team @architects

# Frontend application ownership
src/web/    @frontend-team @architects

# Authentication service - requires security team review
src/backend/src/auth-service/    @security-team @backend-team

# Interface definitions - architect review required
src/backend/src/*/interfaces/    @architects

# Infrastructure code ownership
infrastructure/    @devops-team @architects

# Kubernetes configuration files
infrastructure/kubernetes/    @k8s-admins @devops-team

# Terraform configuration files
infrastructure/terraform/    @infrastructure-admins @devops-team

# CI/CD workflow files
.github/workflows/    @devops-team

# Test files ownership
src/*/tests/    @qa-team

# Documentation files
docs/    @project-leads @architects

# Security-critical paths require security team review
src/backend/src/*/security/    @security-team
src/backend/src/*/auth/    @security-team
src/backend/src/*/encryption/    @security-team

# Database schema changes require architect and DBA review
src/backend/src/*/db/migrations/    @architects @dba-team

# API specifications require architect review
src/backend/src/*/api/    @architects @backend-team

# Shared utilities and core libraries
src/shared/    @architects @backend-team

# Configuration files
*.config.js    @devops-team
*.config.ts    @devops-team
*.yaml    @devops-team
*.yml    @devops-team

# Package dependencies
package.json    @security-team @devops-team
package-lock.json    @security-team @devops-team
yarn.lock    @security-team @devops-team

# Environment configurations
.env.example    @devops-team @security-team
src/*/config/    @devops-team @security-team

# Performance-critical components
src/backend/src/*/performance/    @architects @backend-team
src/web/src/components/performance/    @architects @frontend-team

# Monitoring and observability
src/backend/src/*/monitoring/    @devops-team
infrastructure/monitoring/    @devops-team

# Security policies and configurations
security/    @security-team
.github/security/    @security-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/routes/auth.routes.ts
  src/backend/src/auth-service/routes/auth.routes.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/routes/role.routes.ts
  src/backend/src/auth-service/routes/role.routes.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/services/auth.service.ts
  src/backend/src/auth-service/services/auth.service.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/services/role.service.ts
  src/backend/src/auth-service/services/role.service.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/tests/auth.test.ts
  src/backend/src/auth-service/tests/auth.test.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/tests/role.test.ts
  src/backend/src/auth-service/tests/role.test.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/constants/error-codes.ts
  src/backend/src/common/constants/error-codes.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/constants/status-codes.ts
  src/backend/src/common/constants/status-codes.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/decorators/validate.decorator.ts
  src/backend/src/common/decorators/validate.decorator.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/interfaces/base.interface.ts
  src/backend/src/common/interfaces/base.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/interfaces/config.interface.ts
  src/backend/src/common/interfaces/config.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/interfaces/error.interface.ts
  src/backend/src/common/interfaces/error.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/middleware/circuit-breaker.middleware.ts
  src/backend/src/common/middleware/circuit-breaker.middleware.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/middleware/correlation-id.middleware.ts
  src/backend/src/common/middleware/correlation-id.middleware.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/utils/date.util.ts
  src/backend/src/common/utils/date.util.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/utils/encryption.util.ts
  src/backend/src/common/utils/encryption.util.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/utils/logger.util.ts
  src/backend/src/common/utils/logger.util.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/utils/validation.util.ts
  src/backend/src/common/utils/validation.util.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/common/validators/base.validator.ts
  src/backend/src/common/validators/base.validator.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/server.ts
  src/backend/src/file-service/server.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/config/storage.config.ts
  src/backend/src/file-service/config/storage.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/controllers/file.controller.ts
  src/backend/src/file-service/controllers/file.controller.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/interfaces/file.interface.ts
  src/backend/src/file-service/interfaces/file.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/models/file.model.ts
  src/backend/src/file-service/models/file.model.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/repositories/file.repository.ts
  src/backend/src/file-service/repositories/file.repository.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/routes/file.routes.ts
  src/backend/src/file-service/routes/file.routes.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/services/file.service.ts
  src/backend/src/file-service/services/file.service.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/file-service/tests/file.test.ts
  src/backend/src/file-service/tests/file.test.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/server.ts
  src/backend/src/notification-service/server.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/config/notification.config.ts
  src/backend/src/notification-service/config/notification.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/config/websocket.config.ts
  src/backend/src/notification-service/config/websocket.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/controllers/notification.controller.ts
  src/backend/src/notification-service/controllers/notification.controller.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/interfaces/notification.interface.ts
  src/backend/src/notification-service/interfaces/notification.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/models/notification.model.ts
  src/backend/src/notification-service/models/notification.model.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/repositories/notification.repository.ts
  src/backend/src/notification-service/repositories/notification.repository.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/routes/notification.routes.ts
  src/backend/src/notification-service/routes/notification.routes.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/services/email.service.ts
  src/backend/src/notification-service/services/email.service.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/services/notification.service.ts
  src/backend/src/notification-service/services/notification.service.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/services/websocket.service.ts
  src/backend/src/notification-service/services/websocket.service.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/notification-service/tests/notification.test.ts
  src/backend/src/notification-service/tests/notification.test.ts
Owners: @backend-team, @architects
