Repository blitzy-public-samples/markdown-testing-2-sw8tf6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @architects, @frontend-team, @security-team, @devops-team, @k8s-admins, @infrastructure-admins, @qa-team, @dba-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @infrastructure-admins, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/.env.example
  src/backend/.env.example
Owners: @devops-team, @security-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/server.ts
  src/backend/src/api-gateway/server.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/config/cors.config.ts
  src/backend/src/api-gateway/config/cors.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/config/rate-limit.config.ts
  src/backend/src/api-gateway/config/rate-limit.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/config/routes.config.ts
  src/backend/src/api-gateway/config/routes.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/controllers/health.controller.ts
  src/backend/src/api-gateway/controllers/health.controller.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/middleware/auth.middleware.ts
  src/backend/src/api-gateway/middleware/auth.middleware.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/middleware/error.middleware.ts
  src/backend/src/api-gateway/middleware/error.middleware.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/middleware/logging.middleware.ts
  src/backend/src/api-gateway/middleware/logging.middleware.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/middleware/validation.middleware.ts
  src/backend/src/api-gateway/middleware/validation.middleware.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/tests/health.test.ts
  src/backend/src/api-gateway/tests/health.test.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/api-gateway/tests/routes.test.ts
  src/backend/src/api-gateway/tests/routes.test.ts
Owners: @backend-team, @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/server.ts
  src/backend/src/auth-service/server.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/config/auth.config.ts
  src/backend/src/auth-service/config/auth.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/config/jwt.config.ts
  src/backend/src/auth-service/config/jwt.config.ts
Owners: @devops-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/controllers/auth.controller.ts
  src/backend/src/auth-service/controllers/auth.controller.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/controllers/role.controller.ts
  src/backend/src/auth-service/controllers/role.controller.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/interfaces/auth.interface.ts
  src/backend/src/auth-service/interfaces/auth.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/interfaces/role.interface.ts
  src/backend/src/auth-service/interfaces/role.interface.ts
Owners: @architects

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/middleware/role.middleware.ts
  src/backend/src/auth-service/middleware/role.middleware.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/models/role.model.ts
  src/backend/src/auth-service/models/role.model.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/models/user.model.ts
  src/backend/src/auth-service/models/user.model.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/repositories/role.repository.ts
  src/backend/src/auth-service/repositories/role.repository.ts
Owners: @security-team, @backend-team

Add public-samples/markdown-testing-2-sw8tf6/src/backend/src/auth-service/repositories/user.repository.ts
  src/backend/src/auth-service/repositories/user.repository.ts
Owners: @security-team, @backend-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the system
# Format: pattern    @owner1 @owner2

# Default owners for any file not matched below
*    @project-leads

# Backend service ownership
src/backend/    @backend-team @architects

# Frontend application ownership
src/web/    @frontend-team @architects

# Authentication service - requires security team review
src/backend/src/auth-service/    @security-team @backend-team

# Interface definitions - architect review required
src/backend/src/*/interfaces/    @architects

# Infrastructure code ownership
infrastructure/    @devops-team @architects

# Kubernetes configuration files
infrastructure/kubernetes/    @k8s-admins @devops-team

# Terraform configuration files
infrastructure/terraform/    @infrastructure-admins @devops-team

# CI/CD workflow files
.github/workflows/    @devops-team

# Test files ownership
src/*/tests/    @qa-team

# Documentation files
docs/    @project-leads @architects

# Security-critical paths require security team review
src/backend/src/*/security/    @security-team
src/backend/src/*/auth/    @security-team
src/backend/src/*/encryption/    @security-team

# Database schema changes require architect and DBA review
src/backend/src/*/db/migrations/    @architects @dba-team

# API specifications require architect review
src/backend/src/*/api/    @architects @backend-team

# Shared utilities and core libraries
src/shared/    @architects @backend-team

# Configuration files
*.config.js    @devops-team
*.config.ts    @devops-team
*.yaml    @devops-team
*.yml    @devops-team

# Package dependencies
package.json    @security-team @devops-team
package-lock.json    @security-team @devops-team
yarn.lock    @security-team @devops-team

# Environment configurations
.env.example    @devops-team @security-team
src/*/config/    @devops-team @security-team

# Performance-critical components
src/backend/src/*/performance/    @architects @backend-team
src/web/src/components/performance/    @architects @frontend-team

# Monitoring and observability
src/backend/src/*/monitoring/    @devops-team
infrastructure/monitoring/    @devops-team

# Security policies and configurations
security/    @security-team
.github/security/    @security-team
